@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@0,100;0,300;0,900;1,400;1,900&display=swap');

.buttons {
  position: absolute;
  right: 60px;
  margin-top: 20px !important;
  /* color: #000000; */
}

.peragraph { 
  margin-bottom: 0px;
  font-weight: 700;
  text-align: center;
  font-size: 40px;   
  font-family: "Roboto Condensed";
}
.pera {
  margin-top: 3%;
}

/* Cards */

.card {
  align-items: stretch;
  padding-top: 34px;
  /* margin-top: 40vh; */
}
.border-blue {  
  border: 3px solid black !important;
  border-radius: 0px !important; 
}
.card-title {
  color: black;
  font-weight: 700; 
  font-family: "Roboto Condensed";
  letter-spacing: 0.1em;
  display: flex;
  align-items: stretch;
  font-size: 2vw !important;
}
p{
  font-weight: normal;
}
.card-text {
  /* font-family:'Roboto Condensed', sans-serif; */
  /* font-weight:normal !important;  */
  font-size: 1.3vw;
  text-align: justify;
  padding-top: 10px;
  /* letter-spacing: 0.1em; */
}

.card-txt {
  color: white;
  background-color:black;
  /* font-family:'Roboto Condensed', sans-serif; */
  text-align: justify !important;
  /* font-size: 20px; */
  font-size: 1.3vw;

  text-justify: distribute !important;
}

.video {
  width: 100% !important;
  height: 100vh !important;
  margin-top: 90vh;
  /* margin-bottom: 30% !important; */
}

.network {
  font-family: "Roboto Condensed";
  font-weight: 700;
  text-align: center;
  /* font-size: 70px; */
  margin-top: 2%;
  padding-bottom: 40px;
  letter-spacing: 2px;
  font-size: 4vw;
}

.trust-fluid {
  background-color: #f7f7f7;
  margin: 20vh;
  padding-bottom: 12%;
  /* margin-top: 2vh; */
  padding-top: 6vh;
}

.cardtrust {
  background-color: white;
  font-family:'Roboto Condensed', sans-serif;
  letter-spacing: 0.05em;

  /* font-size: 22px; */
}

.trust-title {
  /* background-color: rgb(14, 16, 17); */
  font-family: "Roboto Condensed";
  font-weight: initial;
  line-height: 44.53px;
  font-size: 2vw;
  padding: 30px;
  text-align: center;
}
.trust-p {
  padding: 40px;
  height: auto;
  text-align: justify;
  font-weight: normal;
  font-size: 1.3vw;
  word-break: break-word;
  font-family:'Roboto Condensed', sans-serif;
}
.buildfor {
  text-align: center;
  font-weight: 700;
  color: #000000;
  margin-top: 0px;
  font-family: "Roboto Condensed" !important;
  /* font-size: 70px; */
  font-size: 4vw;
  margin: 0 auto !important;
  padding: 0 auto !important;
  letter-spacing: 0.05em;
  /* margin-bottom: -200px !important; */
  /* padding-top: 0px;
  margin-top: 0px; */
}

.img-circle {
  width: 150px;
  border-radius: 50%;
  height: 150px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 5px solid black;
}
/* .cardtrust {
  padding: 1.5em 0.5em 0.5em;
  border-radius: 2em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
} */
.card-title {
  font-weight: 700;
  font-size: 1.5em;
}
.build-title {
  text-align: center;
  font-weight: bold;
  padding-top: 52px;
  font-size: 2vw;
}

.copyright {
  text-align: center;
  margin: 25px;
  letter-spacing: 1px;
}
.copyright span,
.copyright a {
  color: black;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  display: flex;
  padding-right: 40px;
}
.copyright a:hover {
  color: #007bff;
}

.copyright-menu ul {
  text-align: right;
  /* margin: 10px; */
  margin-bottom: 0px !important;
}

.connect-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 2vw; */
}
/*  */

body {
  margin: 0;
}

main {
  margin: 16px;
}

.navbar {
  display: flex;
  align-items: center;

  /* background: rebeccapurple; */
  color: white;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}

#footer {
  background-color: #f7f7f7;
  align-items: left; 
  margin-bottom: 0px; 
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: "10px";
  text-align: center;
  font-family: "Roboto Condensed";

  letter-spacing: 3px;
}
.madewith {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.newfooter {
  /* background-color: DodgerBlue; */
}

/* #footer ul {
  background-color: blueviolet;
  align-items: center;
  display: contents;
}
#footer .footerspan {
  font-weight: lighter;
  font-size: "1px";
  font-family: "Roboto Condensed";
} */

.copyright-menu {
}

/* media query */
@media only screen and (min-width: 1024) {
  .video {
    margin-top: 90vh;
    width: 100% !important;
    height: 100vh !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* * {background: yellowgreen;} */
  .video {
    margin-top: 70vh;
    width: 100% !important;
    height: 100vh !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .video {
    margin-top: 100vh;
    width: 100% !important;
    height: 100vh !important;
  }
  .card {
    margin-top: 150px;
    font-size: 4vw;
  }
  .network {
    padding-top: 50px;
  }
  #footer {
    position: static; 
  }
}

@media only screen and (max-width: 600px) {
  .video {
    margin-top: 90vh;
    width: 100% !important;
    height: 100vh !important;
  }
  .card {
    margin-top: 150px;
    /* font-size: 15vw !important; */
  }

  .cardtrust {
    margin-top: 10%;
    margin-bottom: 10%;
    /* display: block; */
    /* padding-top: 10vh; */
    /* display: block; */
  }

  .img-circle {
    height: 90px;
    width: 90px;
  }
  #footer {
    position: static; 
  }
}


/* slider */


